<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.enforce.mapper.WorkflowEnforceMapper">

    <resultMap type="WorkflowEnforce" id="WorkflowEnforceResult">
        <result property="id"    column="id"    />
        <result property="type"    column="type"    />
        <result property="title"    column="title"    />
        <result property="reason"    column="reason"    />
        <result property="enforceStartTime"    column="enforce_start_time"    />
        <result property="enforceEndTime"    column="enforce_end_time"    />
        <result property="instanceId"    column="instance_id"    />
        <result property="state"    column="state"    />
        <result property="createName"    column="create_name"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="realName"    column="real_name"    />
        <result property="showName"    column="show_name"    />
        <result property="filePath"    column="file_path"    />
    </resultMap>

    <sql id="selectWorkflowEnforceVo">
        select id, type, title, reason, enforce_start_time, enforce_end_time, instance_id, state, create_name,create_by, create_time, update_time,real_name,show_name,file_path from workflow_enforce
    </sql>

    <select id="selectWorkflowEnforceListByWorkflowEnforceAndDeptId"  resultMap="WorkflowEnforceResult">
        <include refid="selectWorkflowEnforceVo"/>
        where create_by in (SELECT user_name FROM `sys_user` where dept_id in (SELECT dept_id FROM sys_dept WHERE dept_id = #{deptId} or find_in_set( #{deptId} , ancestors ) ))
        <if test="workflowEnforce.type != null  and workflowEnforce.type != ''"> and type = #{workflowEnforce.type}</if>
        <if test="workflowEnforce.title != null  and workflowEnforce.title != ''"> and title = #{workflowEnforce.title}</if>
        <if test="workflowEnforce.reason != null  and workflowEnforce.reason != ''"> and reason = #{workflowEnforce.reason}</if>
        <if test="workflowEnforce.enforceStartTime != null "> and enforce_start_time = #{workflowEnforce.enforceStartTime}</if>
        <if test="workflowEnforce.enforceEndTime != null "> and enforce_end_time = #{workflowEnforce.enforceEndTime}</if>
        <if test="workflowEnforce.instanceId != null  and workflowEnforce.instanceId != ''"> and instance_id = #{workflowEnforce.instanceId}</if>
        <if test="workflowEnforce.state != null  and workflowEnforce.state != ''"> and state = #{workflowEnforce.state}</if>
        <if test="workflowEnforce.createName != null  and workflowEnforce.createName != ''"> and create_name = #{workflowEnforce.createName}</if>
        <if test="workflowEnforce.createBy != null  and workflowEnforce.createBy != ''"> and create_by = #{workflowEnforce.createBy}</if>
        <if test="workflowEnforce.realName != null  and workflowEnforce.realName != ''"> and real_name = #{workflowEnforce.realName}</if>
        <if test="workflowEnforce.showName != null  and workflowEnforce.showName != ''"> and show_name = #{workflowEnforce.showName}</if>
        <if test="workflowEnforce.filePath != null  and workflowEnforce.filePath != ''"> and file_path = #{workflowEnforce.filePath}</if>
        order by create_time desc
    </select>

    <select id="selectWorkflowEnforceListByWorkflowEnforce"  resultMap="WorkflowEnforceResult">
        <include refid="selectWorkflowEnforceVo"/>
        <where>
            <if test="workflowEnforce.type != null  and workflowEnforce.type != ''"> and type = #{workflowEnforce.type}</if>
            <if test="workflowEnforce.title != null  and workflowEnforce.title != ''"> and title = #{workflowEnforce.title}</if>
            <if test="workflowEnforce.reason != null  and workflowEnforce.reason != ''"> and reason = #{workflowEnforce.reason}</if>
            <if test="workflowEnforce.enforceStartTime != null "> and enforce_start_time = #{workflowEnforce.enforceStartTime}</if>
            <if test="workflowEnforce.enforceEndTime != null "> and enforce_end_time = #{workflowEnforce.enforceEndTime}</if>
            <if test="workflowEnforce.instanceId != null  and workflowEnforce.instanceId != ''"> and instance_id = #{workflowEnforce.instanceId}</if>
            <if test="workflowEnforce.state != null  and workflowEnforce.state != ''"> and state = #{workflowEnforce.state}</if>
            <if test="workflowEnforce.createName != null  and workflowEnforce.createName != ''"> and create_name = #{workflowEnforce.createName}</if>
            <if test="workflowEnforce.createBy != null  and workflowEnforce.createBy != ''"> and create_by = #{workflowEnforce.createBy}</if>
            <if test="workflowEnforce.realName != null  and workflowEnforce.realName != ''"> and real_name = #{workflowEnforce.realName}</if>
            <if test="workflowEnforce.showName != null  and workflowEnforce.showName != ''"> and show_name = #{workflowEnforce.showName}</if>
            <if test="workflowEnforce.filePath != null  and workflowEnforce.filePath != ''"> and file_path = #{workflowEnforce.filePath}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectWorkflowEnforceList" parameterType="WorkflowEnforce" resultMap="WorkflowEnforceResult">
        <include refid="selectWorkflowEnforceVo"/>
        <where>
            <if test="type != null  and type != ''"> and type = #{type}</if>
            <if test="title != null  and title != ''"> and title = #{title}</if>
            <if test="reason != null  and reason != ''"> and reason = #{reason}</if>
            <if test="enforceStartTime != null "> and enforce_start_time = #{enforceStartTime}</if>
            <if test="enforceEndTime != null "> and enforce_end_time = #{enforceEndTime}</if>
            <if test="instanceId != null  and instanceId != ''"> and instance_id = #{instanceId}</if>
            <if test="state != null  and state != ''"> and state = #{state}</if>
            <if test="createName != null  and createName != ''"> and create_name = #{createName}</if>
            <if test="createBy != null  and createBy != ''"> and create_by = #{createBy}</if>
            <if test="realName != null  and realName != ''"> and real_name = #{realName}</if>
            <if test="showName != null  and showName != ''"> and show_name = #{showName}</if>
            <if test="filePath != null  and filePath != ''"> and file_path = #{filePath}</if>
        </where>
        order by create_time desc
    </select>

    <select id="selectWorkflowEnforceById" parameterType="String" resultMap="WorkflowEnforceResult">
        <include refid="selectWorkflowEnforceVo"/>
        where id = #{id}
    </select>
    <select id="selectWorkflowEnforceByInstanceId" parameterType="String" resultMap="WorkflowEnforceResult">
        <include refid="selectWorkflowEnforceVo"/>
        where instance_id = #{instanceId}
    </select>

    <insert id="insertWorkflowEnforce" parameterType="WorkflowEnforce">
        insert into workflow_enforce
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="type != null">type,</if>
            <if test="title != null">title,</if>
            <if test="reason != null">reason,</if>
            <if test="enforceStartTime != null">enforce_start_time,</if>
            <if test="enforceEndTime != null">enforce_end_time,</if>
            <if test="instanceId != null">instance_id,</if>
            <if test="state != null">state,</if>
            <if test="createName != null">create_name,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="realName != null">real_name,</if>
            <if test="showName != null">show_name,</if>
            <if test="filePath != null">file_path,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="type != null">#{type},</if>
            <if test="title != null">#{title},</if>
            <if test="reason != null">#{reason},</if>
            <if test="enforceStartTime != null">#{enforceStartTime},</if>
            <if test="enforceEndTime != null">#{enforceEndTime},</if>
            <if test="instanceId != null">#{instanceId},</if>
            <if test="state != null">#{state},</if>
            <if test="createName != null">#{createName},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="realName != null">#{realName},</if>
            <if test="showName != null">#{showName},</if>
            <if test="filePath != null">#{filePath},</if>
        </trim>
    </insert>

    <update id="updateWorkflowEnforce" parameterType="WorkflowEnforce">
        update workflow_enforce
        <trim prefix="SET" suffixOverrides=",">
            <if test="type != null">type = #{type},</if>
            <if test="title != null">title = #{title},</if>
            <if test="reason != null">reason = #{reason},</if>
            <if test="enforceStartTime != null">enforce_start_time = #{enforceStartTime},</if>
            <if test="enforceEndTime != null">enforce_end_time = #{enforceEndTime},</if>
            <if test="instanceId != null">instance_id = #{instanceId},</if>
            <if test="state != null">state = #{state},</if>
            <if test="createName != null">create_name = #{createName},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="realName != null">real_name = #{realName},</if>
            <if test="showName != null">show_name = #{showName},</if>
            <if test="filePath != null">file_path = #{filePath},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteWorkflowEnforceById" parameterType="String">
        delete from workflow_enforce where id = #{id}
    </delete>

    <delete id="deleteWorkflowEnforceByIds" parameterType="String">
        delete from workflow_enforce where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>